<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EZConnect Mobile </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/ez.css" rel="stylesheet" />
</head>
<body class="">
    <div class="content-wrapper ez-splash-image">
        <div class="row">
            <div class="col-md-12">
                <div class="span"><img class="center-block" src="~/images/ez_logo.png" style="max-height: 150px; max-width: 100%; margin-top:50px;" /></div>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="span"><img class="center-block" src="~/images/kaec_logo_orig.png" style="max-height: 150px; max-width: 100%; margin-top:50px;" /></div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function(){ 
        window.location.href = '@(Url.Action("Login", "EmployeeZone"))'
        }, 3000);
    </script>

</body>

</html>
