@model PORTAL.WEB.Models.EmployeeZoneViewModels.OtpLoginViewModel

@{
    ViewData["Title"] = "OTP Codes";
    Layout = "~/Views/Shared/_FormLayoutMobile.cshtml";
}

<br />
<br />
<br />
<div class="row" style="background-color:#fff">
    <div class="col-md-12">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserName" class="ez-entry" placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="submit" id="btnnext" value="NEXT" class="btn btn-default form-control ez-color" onclick="return btnNext()" />
            </div>
            @*@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
                {
                    <script>

                    </script>

                }*@
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="span"><img class="center-block" src="~/images/kaec_logo_orig_rgb.png" style="max-height: 150px; max-width: 100%; margin-top:50px;" /></div>
    </div>
</div>

<button hidden="hidden" id="btnModal" type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Invalid Username</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function btnNext() {

        var btnnext = document.getElementById("btnnext");
        btnnext.value = "WAIT A MOMENT";
        this.blur();

    }
    //function callModal(){
    //var modelState = new JavaScriptSerializer().Serialize(ViewData.ModelState[""]);
    //    var modelStateError = new JavaScriptSerializer().Serialize(ViewData.ModelState[""].Errors.Count());
    //    if(modelState != null && modelStateError > 0)
    //    document.getElementById("btnModal").click();
    //}

</script>