@model PORTAL.WEB.Models.EmployeeZoneViewModels.OtpCodeViewModel

@{
    ViewData["Title"] = "My Directory";
    Layout = "~/Views/Shared/_FormLayoutMobile.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="input-group" style="background-color:lightgray">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="submit" value="Search..." class="form-control" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="span"><img class="center-block" src="~/images/kaec_logo_orig_rgb.png" style="max-height: 150px; max-width: 100%; margin-top:50px;" /></div>
    </div>
</div>
@await Html.PartialAsync("_FooterLayoutMobile")