
@{
    ViewData["Title"] = "SearchArabic";
}

<html>
<head>
    <script src="~/js/ArabicText.js" type="text/javascript"></script>
</head>
<body>
    Arabic
    <input id="input" type="text" name="input" value="" />
</body>
</html>

<script>
    $('input').keyboard({ layout: 'arabic-azerty' });
</script>
