@model PORTAL.WEB.Models.OtpLoginViewModels.OtpCodeViewModel

@{
    ViewData["Title"] = "My Directory";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section ContentHeader{
    <h4>MY Directory</h4>
}