.otp-txt {
    width: 50px;
    text-align: center;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.otp-txt-align{
    text-align:center;
}

.ez-color {
    background-color: #419C9D;
}
.ez-font-color {
    color: #419C9D;
}


.ez-splash-image {
    background-color: #419C9D;
    height:550px;
}

.ez-entry {
    border: 1px solid black;
    float: left;
    margin: 0;
    padding: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
